img{
    width: 300px;
}
h2 {
color: purple;
}
H3 { color: #E6E6FA;
}
h1{
Color: #b19cd9;
}
 body { background-color: gray;  
}
.subheader { 
color:#b19cd9;
}
    .blue {
    color: black;
    }

.title{
font-family: 'Parisienne', cursive;
    font-size: 55px;

}